/* Library CSS here... */
body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(27, 27, 25);
    color: #fff;
    margin: 0;
}

h1 {
    font-size: 5vw;
    margin-top: 0;
    padding-top: 0;
}

.half-width {
    width: 50%;
    padding: 10px;
}

.text-uppercase {
    text-transform: uppercase;
}

p {
    font-size: 1.2vw;
    line-height: 3vw;
    color: #ccc;
}

.btn {
    padding: .8vw 2vw;
    background-image: linear-gradient(45deg, rgb(255, 0, 64), tomato);
    border-radius: 5px;
    display: inline-block;
    font-size: 1.4vw;
    font-weight: 600;
}

a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.flex-display {
    display: flex;
}

/* Header CSS here... */

.welcome {
    border-bottom: 2px solid rgb(255, 0, 64);
    padding-bottom: 1vw;
    margin-bottom: 1vw;
}

#header-section {
    width: 90%;
    min-height: 30vw;
    margin: 0 auto;
    position: relative;
    padding: 3vw;
    margin-top: 20px;
    box-shadow: 0 0 14px rgb(255, 0, 64);
    border-radius: 1vw;
}

#header-section, #dream-big {
    margin-bottom: 10vw;
}

.header-name{
    font-size: 2.8vw;
}

#header-img-section img {
    width: 34vw;
    position: absolute;
    right: 3vw;
    top: 2vw;
}

.pink-text {
    color: rgb(255, 0, 64);
}

/* Dream Big CSS here... */

/* Experience CSS here... */

.text-center {
    text-align: center;
    display: block;
    border-bottom: 1px solid rgb(255, 0, 64);
    width: 25vw;
    margin: auto;
}

.text-center, #dream-big h1 {
    font-size: 4vw;
    font-weight: 500;
    border-bottom: 1px solid rgb(255, 0, 64);
}

.experience-inner {
    justify-content: space-around;
}

.ex-boxes {
    width: 40%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    min-height: 20vw;
    box-shadow: 0 0 6px rgb(255, 0, 64);
}

.secondary-h-tag {
    font-size: 2.8vw;
}

.tertiary-h-tag {
    font-size: 2vw;
}

.ex-boxes .tertiary-h-tag {
    color: #ff0040;
}

#db-img-section img {
    width: 38vw;
    position: relative;
    top: -4vw;
    left: 2vw;
}

.text-center-2 {
    text-align: center;
}